/.*/*/.classpath
/.project
/.classpath
/.idea/artifacts/jReader_war_exploded.xml
/.idea/artifacts/jReader_war.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Maven__com_google_gwt_gwt_servlet_2_5_1.xml
/.idea/libraries/Maven__com_google_gwt_gwt_user_2_5_1.xml
/.idea/libraries/Maven__com_google_inject_guice_3_0.xml
/.idea/libraries/Maven__com_gwtplatform_gwtp_clients_common_1_0_RC_2.xml
/.idea/libraries/Maven__com_gwtplatform_gwtp_crawler_1_0_RC_2.xml
/.idea/libraries/Maven__com_gwtplatform_gwtp_dispatch_client_1_0_RC_2.xml
/.idea/libraries/Maven__com_gwtplatform_gwtp_dispatch_server_1_0_RC_2.xml
/.idea/libraries/Maven__com_gwtplatform_gwtp_dispatch_server_guice_1_0_RC_2.xml
/.idea/libraries/Maven__com_gwtplatform_gwtp_dispatch_shared_1_0_RC_2.xml
/.idea/libraries/Maven__com_gwtplatform_gwtp_mvp_client_1_0_RC_2.xml
/.idea/libraries/Maven__com_gwtplatform_gwtp_processors_1_0_RC_2.xml
/.idea/libraries/Maven__commonj_sdo_commonj_sdo_2_1_1_v201112051852.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/.idea/libraries/Maven__javax_validation_validation_api_1_0_0_GA.xml
/.idea/libraries/Maven__javax_validation_validation_api_sources_1_0_0_GA.xml
/.idea/libraries/Maven__jdom_jdom_1_0.xml
/.idea/libraries/Maven__junit_junit_4_7.xml
/.idea/libraries/Maven__org_apache_velocity_velocity_1_7.xml
/.idea/libraries/Maven__org_eclipse_persistence_eclipselink_2_4_0.xml
/.idea/libraries/Maven__org_eclipse_persistence_javax_persistence_2_0_4_v201112161009.xml
/.idea/libraries/Maven__org_json_json_20090211.xml
/.idea/libraries/Maven__org_restlet_org_restlet_gwt_2_0_M3.xml
/.idea/libraries/Maven__rome_rome_1_0.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/.name
/.idea/qaplug_profiles.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.settings/com.google.appengine.eclipse.core.prefs
/.settings/com.google.gdt.eclipse.core.prefs
/.settings/com.google.gwt.eclipse.core.prefs
/.settings/.jsdtscope
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.maven.ide.eclipse.prefs
