.feedItem {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.unread {
    border-left: 4px solid #30a67c;
    padding-left: 10px;
    background-color: #dcdcdc;
}
.read {
    border: 1px solid #87cefa;
    padding-left: 10px;
    background-color: #e6e6fa;
}